*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: url(images/vecteezy_abstract-boxes-background-modern-technology-with-square_8171873.jpg) no-repeat fixed; 
    background-size: cover;
}

/* styling header  */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-bottom: 14%;  */
    color: #3949ab;
    letter-spacing: 3px ;
    font-weight: 600;
    font-size: x-large;
    border-bottom: 2px solid blueviolet;
    filter: drop-shadow(1px 1px 0px black);
}
header .logo_and_lang {
    width: 88%;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    color: black;
}
/* styling button  */
button {
    background: #0e856a;
    font-weight: bold;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 17px;
    cursor: pointer;
}
header p {
    font-size: small;
}

/* styling main container  */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 90px; */
    width: 100%;
    background: #f0eaf1e6;
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
}
.main-container section {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 24px 0px;
    background: white;
    border-radius: 18px;
}
img {
    width: 30%;
}
.main-container section .about {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main-container section .about p {
    margin: 24px 0px;
}
/* .main-container section .about button {
    background: #0e856a;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 17px;
    color: white;
    cursor: pointer;
} */
.main-container section .about .devices ul {
    display: flex;
    width: 150%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.main-container section .about .devices ul li {
    /* width: 100%; */
    background: gray;
    padding: 2px;
    border-radius: 9px;
    display: flex;
}
.main-container section .about .devices ul li img {
    width: 24px;
}
.advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid blueviolet;
}
.main-container .advantages .some_advantages {
    width: 100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto;
    grid-gap: 34px;
}
.main-container .advantages .some_advantages div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.some_advantages .advan img {
    width: 128px;
    height: 90px;
    border-radius: 18%;
    filter: drop-shadow(1px 1px 4px gray);
}
.some_advantages .advan h4 {
    margin: 15px 0px;
}
.some_advantages .advan p {
    text-align: center;
}

/* styling footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    /* border-top: 2px solid blueviolet; */
    padding: 9px 0px;
}
footer .world_img_and_details {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .world_img_and_details img {
    margin-right: 50px ;
}
footer .world_img_and_details h4 {
    font-size: xxx-large;
    margin-right: 18px;
}
footer h2 {
    font-size: xxx-large;
}

/* hover effect */
.main-container section:hover {
    border: 1px solid blueviolet;
    transform: scale(1.05);
    transition: 0.5s;
}
button:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
 a:hover {
    text-decoration: underline;
 }